extends layout.pug
block contentBox
	- var c = activePage.content;
	div.text
		h1=c.h1
		h2=c.h2
		div.regular-table
			table
				tr
					th="Tjänst"
					th="Sök innan"
				each job in c.jobs
					tr
						td
							a(href=job.url)=job.tjanst
						td=job.deadline
	div.img
		img(src=c.img)

